<!DOCTYPE html>
<html lang="nl-BE">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Station-Screen</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <div class="top-info">
        <h1 class="top-info__time">17:27</h1>
        <h1 class="top-info__departure">Vertrek</h1>
    </div>

    <div class="departure-info">
        <div class="departure-info__top wrapper">
            <div class="departure-info__top__timeperron-pair">
                <h2>17:30</h2>
                <div class="aanperron">
                    <p>aan perron</p>
                </div>
            </div>
            <div class="departure-info__top__typetrack-pair">
                <h2>IC</h2>
                <h2>2</h2>
            </div>
        </div>
        <div class="departure-info__bottom wrapper">
            <p>Nijvel Charleroi-Zuid</p>
        </div>
    </div>
</body>

</html>